.tbl-week {
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  .tbl-week td {
    padding: 5px;
  }

  .tbl-week td:nth-child(1) {
    width: 5%;
    text-align: center;
  }

  .tbl-week td:nth-child(2) {
    width: 50%;
    text-align: left;
  }

  .tbl-week td:nth-child(3) {
    width: 20%;
    text-align: left;
  }

  .tbl-week td:nth-child(4) {
    width: 20%;
    text-align: left;
  }

  .col3-right {
    text-align: right !important;
    font-size: 8px;
    font-weight: bold;
    color: #7b7b7b;
  }

  .hour {
    font-size: 9px;
    font-weight: bold;
    color: #7b7b7b;
  }

  .session-title {
    padding: 4px 4px 4px 13px !important;
    height: 25px;
    text-align: left !important;
    font-size: 10px;
    font-weight: bold;
  }

  .divisor-row {
    height: 35px;
  }

  .first-row {
    background-color: #cba4eb;
    color: #353535;
    height: 35px;
  }

  .start-end-color {
    background-color: #ece2f4;
    color: #353535;
  }

  .session-treasures-title-color {
    background-color: #656164;
    color: #ebebeb;
  }

  .session-treasures-itens-color {
    background-color: rgba(232, 232, 232, 0.899);
    color: #353535;
  }

  .session-title-roms {
    font-size: 10px;
    font-weight: bold;
  }

  .session-make-title-color {
    background-color: #c78908;
    color: #ebebeb;
  }

  .session-make-itens-color {
    background-color: #f0e1bf;
    color: #353535;
  }

  .session-life-title-color {
    background-color: #99131f;
    color: #ebebeb;
  }

  .session-life-itens-color {
    background-color: #f5dbdd;
    color: #353535;
  }